body{
    background-color: #440000;
    color: white;
    text-align: center;
}

h1{
    color: red;
}

h2{
    color: lightpink;
}

h3{
    color: hotpink;
}

.navzone{
    border-color: black;
    border-width: 5px;
    border-bottom-style: solid;
    border-top-style: solid;
}

ul{
    color: red;
    border: 50px;
}

a{
    color: magenta;
}

p{
    color: #FFDDDD;
}